*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    font-size: 1rem;
    color: white;
}
body{
    height: 100vh;
    background: linear-gradient(#e66464c7, #9198e5b8),url(./bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;

}
nav{
    height: 10%;
    display: flex;
    /* background-color: red; */
    justify-content: right;
}
nav > a {
    display: inline-block;
    padding:20px;
    /* background-color: blue; */
    margin-right: 80px;
}
/* Main */

main{
    height: 85%;
}

.content{
    color: white;
    /* margin-top: 20px; */
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content > div {
    flex-grow: 1;
    margin: 10px;
}
.section{
    text-align: center;
}
.content .section:first-child{
    font-size: 2rem;
    padding: 20px;
}
.content .section:nth-child(3){
    width: 500px;
    height: 15px;
    background: linear-gradient(to right, white 0%, white 80%, rgb(155, 201, 255) 80%, rgb(155, 201, 255) 100%);
    box-shadow: 5px 5px 5px rgba(46, 45, 45, 0.608);
    margin-bottom: 5px;
}
.content .section:nth-child(4){
    margin-top: 0px;
    display: flex;
    justify-content: center;
    width: 500px;
    height: 20px;
    /* background-color: red; */
}
.content .section:nth-child(4) > *{
    font-size: 1rem;
    flex-grow: 1;
}


.myButton {
	background-color:#8fd0f9;
	border-radius:3px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:10px 40px;
	text-decoration:none;
	text-shadow:0px 1px 0px #263666;
}
.myButton:hover {
	background-color:#0688fa;
}
.myButton:active {
	position:relative;
	top:1px;
}

.logos > * {
    margin: 10px;
}

/* Footer */
footer{
    height: 5%;
}
footer > div{
    text-align: center;
}